{% extends 'main.html' %}
{% block content %}
    {% if data.data %}
        <table class="table table-bordered">
            <tr>
                <th></th>
                <th>Service</th>
                <th>Room</th>
                <th>Master</th>
                <th>Time</th>
                <th>Price</th>
                <th></th>
            </tr>
            {% for item in data.data %}
                <tr>
                    <td>{{ item.id }}    </td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.room }}</td>
                    <td>{{ item.master }}</td>
                    <td>{{ item.time }}</td>
                    <td>{{ item.price }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <h2 class="text-success">Всего :{{ data.price }}</h2>

    {{ wtf.quick_form(form) }}

        {% if oreder_exist %}
        <form method="patch" action="/create_order">
            <button>Подтвердить заказ</button>
        </form>
    {% endif %}
{% endblock content %}